// grid variables
$grid-columns: 12;
$grid-max-width: 65em;
 
 
// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

// colors
$light-gray: #AFAFAF;
$medium-gray: #5C5C5C;

$fadedWhite:    #F9F9F9;
$client-blue:   #FDDB48;
$sin-blue:      #002132;
$pulse-smoke:   #B0B0B0;
$derp-red:      #ba2e2e;
$simple-gray:   #2D2D2D;
$milkyWhite:    #FFF7EB;
$vibrant-red:   #FF2B2B;